.DocsSidebar, .DocsBody--sidebar, #se1{
    display: none;
}
.DocsToolbar{
    position: static;
}
.DocsBody{
    padding-left: 64px;
    padding-right: 64px;
}
.DocsContent{
    width: 100% !important;
}
.DocsFooter{
    margin-left: 0px;
}
#se{
    visibility: visible !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}
[theme="dark"] .DocsMarkdown--link{
    color: white;
}
[theme="dark"] .boxed-card{
    padding: 20px;
    border: 1px solid #a5cbfb;
    border-radius: 4px;
    display: block;
    margin-right: 20px;
}
[theme="light"] .boxed-card{
    padding: 20px;
    border: 1px solid #3670fe;
    border-radius: 4px;
    display: block;
    margin-right: 20px;
}
.logo-box{
    height: 29px;
    width: 160px;
}
[theme="light"] .logo-box{
    background-image: url(https://uploads-ssl.webflow.com/5c51758c58939b30a6fd3d73/5f080c0bb5384a64bfcc76dd_Primary%20Logo%402x.svg);
}
[theme="dark"] .logo-box{
    background-image: url(https://uploads-ssl.webflow.com/5c51758c58939b30a6fd3d73/6218611a92bd228ef85dc9c3_Primary%20Logo%402x_white.svg);
}